@import "./utils/fonts";
@import "./utils/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/helpers";
@import "./utils/buttons";

@import "./blocks/c-topbar";
@import "blocks/c-roulette";
@import "./blocks/c-sidebar";
@import "./blocks/c-keyboard";


.c-topmain {
  margin: 0 3.9375rem;
}