
.c-roulette {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-ar {
    position: absolute;
    left: 50%;
    top: 54px;
    transform: translateX(-50%);
    margin-left: -1px;
    z-index: 2;
  }

  canvas {
    background-image: url('../img/roulette.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;

    transition: 7.2s all;
  }

  .number {
    position: absolute;
    font-weight: 900;
    font-size: 70px;
    color: #ffffff;
  }
}