
.c-topbar {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;

  &__amount {
    padding: 0 62px;
    min-height: 36px;

    &-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $orange;
      flex: none;
      margin-right: 10px;
    }
  }
}

.c-settings {
  width: 20px;
  height: 20px;
  padding: 8px;
  background: $wrapper;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;

  svg {
    width: 100%;
    height: 100%;
    transition: .17s all;
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}